@{
    ViewData["Title"] = "Home Page";
}

@model List<Books>

<h1>Booklist</h1>

@foreach (Books b in Model)
            {
                <h3>@b.Title</h3>
                <ul>
                    <li>Author: @b.Author</li>
                    <li>Publisher: @b.Publisher</li>
                    <li>ISBN: @b.Isbn</li>
                    <li>Classification/Category: @b.Classification/@b.Category</li>
                    <li>@b.PageCount pages</li>
                    <li>$@b.Price</li>
                </ul>
                <br />
            }